/* --------------------------------------------------------------------------*/
/*GLOBAL; (reset, corpo da pagina, estilo padrão para parágrafos, listas, etc.)
/* --------------------------------------------------------------------------*/
@font-face {
    font-family: 'VAGRoundedBoldRegular';
    src: url('vagroun-webfont.eot');
    src: url('vagroun-webfont.eot?#iefix') format('embedded-opentype'),
         url('vagroun-webfont.woff') format('woff'),
         url('vagroun-webfont.ttf') format('truetype'),
         url('vagroun-webfont.svg#VAGRoundedBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VAGRoundedLtNormal';
    src: url('vagrounded_lt_normal-webfont.eot');
    src: url('vagrounded_lt_normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('vagrounded_lt_normal-webfont.woff') format('woff'),
         url('vagrounded_lt_normal-webfont.ttf') format('truetype'),
         url('vagrounded_lt_normal-webfont.svg#VAGRoundedLtNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

